@model Message
@{
    ViewData["Title"] = "Home page";
}
<h1 class="display-4">Welcome</h1>
<p>This will be the homepage for the site.</p>
<br />
<a href="/Home/History">Click here to view our history.</a>
<br />
<a href="/Contact/Index">Click here to contact us.</a>


