@{
    ViewData["Title"] = "Info Page";
}
<h1>Info</h1>

<p>Info page placeholder.</p>
<br />
<a asp-controller="Info" asp-action="Locations">Locations & other important info.</a>
<br />
<a asp-controller="Info" asp-action="People">Important people.</a>
<br />
Take a <a asp-controller="Info" asp-action="Quiz">test quiz</a>.
